
<h1>List Vehicles</h1>
<div id ="information">  
  <table>
    <tr>
      <th>Identifier</th>
      <th>Last Update</th>
      <th>Historical</th>
    </tr>
  
    <% @vehicles.each do |vehicle| %>
      <tr>
        <td><%= vehicle.identifier %></td>
        <td>
          <% if vehicle.updated_at %>
          <%= vehicle.updated_at.strftime('%d-%m-%Y %H:%M:%S') %></td>
          <% end %>
        <td><%= button_to "Show", vehicle_path(vehicle), :method => "get", class: 'btnShow' %></td>
      </tr>
    <% end %>
  </table>
</div>
<div id="app" class="vehiclesMap">
  <vehicles :marks="<%= @vehicles.to_json %>"></vehicles>
</div>