<div id="app">
  <%= button_to "Back", show_path, :method => "get", class: 'btnBack' %>
  <% if @status %>
    <div class="title">
      <h1><%= @vehicle.identifier %></h1>
    </div>
    <historical :vehicle="<%= @vehicle.to_json%>"></historical>
  <% else %>
    <h1>This vehicle doesn't exist.</h1>
  <% end %>
</div>
