<template>
    <div>
        <div id="history" v-if="points.length > 0" class="app">
            <div id="data">
                <h3>Select waypoint</h3>
                <div class="waypoint" :id="'point'+waypoint.id" :key="index" v-for="(waypoint, index) in points" v-on:click="showMap(waypoint)">
                    <span>{{waypoint.send_at | formatDate}}</span>
                    <br>
                    <span>Latitude: {{waypoint.latitude}}</span>
                    <br>
                    <span>Longitude: {{waypoint.longitude}}</span>
                </div>
            </div>
            <MapWaypoint :coord="coord" class="map"></MapWaypoint>
        </div>
        <div v-else>
            No se han encontrado datos históricos.
        </div>
    </div>
</template>

<script>
import moment from 'moment';
import MapWaypoint from 'map_waypoint.vue';

export default {
    data: function () {
        return {
            points: [],
            coord: []
        }
    },
    components: {
        MapWaypoint
    },
    props: {
        vehicle :Array
    },
    methods: {
        getPoints: function (vehicle) {
            let self = this;
            fetch('/api/v1/waypoints/' + vehicle.id).then(function (response) {
                return response.json();
            }).then(function (result) {
                self.addWaypoints(result);
            })
        },

        addWaypoints: function (waypoints) {
            waypoints.forEach(waypoint => {
                this.points.push(waypoint);
            });
        },

        showMap: function (waypoint) {
            this.divAnimation(waypoint.id);
            this.coord = [waypoint.latitude, waypoint.longitude];
        },

        divAnimation: function (id) {
            this.points.forEach(wp => {
                if (wp.id === id) {
                    let divPoint = document.getElementById('point'+wp.id);
                    divPoint.style.fontWeight = "bold";
                    divPoint.style.boxShadow = "0 0 5px -1px rgba(0,0,0,0.6)";
                } else {
                    let divPoint = document.getElementById('point'+wp.id);
                    divPoint.style.fontWeight = "normal";
                    divPoint.style.boxShadow = "0 0 0 0 rgba(0,0,0,0)";
                }
            });
        },
    },
    mounted: function () {
        this.getPoints(this.vehicle);
    },
    filters: {
        formatDate: function (value) {
            if (value) {
                return moment(String(value)).format('DD/MM/YYYY hh:mm:ss');
            }
        }
    }
}
</script>