<template>
    <div>
        <div id="map"></div>
    </div>
</template>

<script>
import {Map, View} from 'ol';
import {fromLonLat} from 'ol/proj.js';
import TileLayer from 'ol/layer/Tile';
import  OSM from 'ol/source/OSM';
import Feature from 'ol/Feature.js';
import Point from 'ol/geom/Point.js';
import {Circle as CircleStyle, Icon, Style, Text, Fill, Stroke} from 'ol/style.js';
import VectorSource from 'ol/source/Vector.js';
import {Vector} from 'ol/layer.js';

export default {
    name: 'Map',
    props: {
        marks :Array,
    },
    components: {
    },
    methods: {
        createPoints: function(locations) {
            return new Feature({
                name: locations.vehicle,
                geometry: new Point(fromLonLat([locations.lon, locations.lat]))
            });
        },
        
        createTextStyle: function(identifier) {
            return new Text({
                font: '18px Calibri,sans-serif',
                text: identifier,
                fill: new Fill({color: '#aa3300'}),
                stroke: new Stroke({color: '#fff', width: 3})
            })
        },

        pointStyle: function (identifier) {
            return new Style({
                image: new CircleStyle({
                    radius: 10,
                    fill: new Fill({color: 'rgba(255, 0, 0, 0.1)'}),
                    stroke: new Stroke({color: 'red', width: 1})
                }),
                text: this.createTextStyle(identifier)
            });
        },

        createVector: function (points) {
            return new Vector({
                source: new VectorSource({
                    features: points
                }),
                style: this.pointStyle()
            })
        },

        createMap: function(geolocation) {
            let identifiers = [];
            let points = [];

            geolocation.forEach(data => {
                identifiers.push(data.vehicle);
                let feature = this.createPoints(data);
                feature.setStyle(this.pointStyle(data.vehicle));
                points.push(feature);
            });

            let vectorLayer = this.createVector(points);

            const map = new Map({
                target: 'map',
                loadTilesWhileAnimating: true,
                layers: [
                    new TileLayer({
                        source: new OSM()
                    }),
                    vectorLayer
                ],
                view: new View({
                    center: fromLonLat([-70.66, -33.46]),
                    zoom: 5
                })
            });
        },

        cleanGeolocationsVoids: function(geolocation) {
            let clean = [];

            geolocation.forEach(geolocation => {
                if (geolocation.vehicle !== '') {
                    clean.push(geolocation);
                }
            });

            return clean;
        },

        getGeolocations: function() {
            let geolocation = [];
            let self = this;
            let marks = this.marks;
            marks.forEach(vehicle => {
                fetch('/api/v1/waypoint/' + vehicle.id).then(function (response) {
                    return response.json();
                }).then(function (result) {
                    geolocation.push(self.setGeolocation(result, vehicle));
                }).then(function () {
                    if(geolocation.length === marks.length) {
                        geolocation = self.cleanGeolocationsVoids(geolocation);
                        self.createMap(geolocation);
                    }
                });
            });
        },

        setGeolocation: function(data, vehicle) {
            return (data) ? {vehicle: vehicle.identifier, lat: data.latitude, lon: data.longitude} : {vehicle: ''}
        }
    },
    mounted: function () {
        this.getGeolocations();
    }
}
</script>