<template>
    <div id="map" class="historicalMap">
    </div>
</template>

<script>
import {Map, View} from 'ol';
import {fromLonLat} from 'ol/proj.js';
import TileLayer from 'ol/layer/Tile';
import  OSM from 'ol/source/OSM';
import Feature from 'ol/Feature.js';
import Point from 'ol/geom/Point.js';
import {Circle as CircleStyle, Icon, Style, Text, Fill, Stroke} from 'ol/style.js';
import VectorSource from 'ol/source/Vector.js';
import {Vector} from 'ol/layer.js';

var map = null;
var layer = null;

export default {
    props: {
        coord: [],
    },
    methods: {
        createPoints: function(locations) {
            return new Feature({
                geometry: new Point(fromLonLat([locations[1], locations[0]]))
            });
        },

        pointStyle: function () {
            return new Style({
                image: new CircleStyle({
                    radius: 10,
                    fill: new Fill({color: 'rgba(255, 0, 0, 0.1)'}),
                    stroke: new Stroke({color: 'red', width: 1})
                })
            });
        },

        createVector: function (points) {
            return new Vector({
                source: new VectorSource({
                    features: points
                }),
                style: this.pointStyle()
            })
        },
    },
    mounted: function () {
        map = new Map({
            target: 'map',
            loadTilesWhileAnimating: true,
            layers: [
                new TileLayer({
                    source: new OSM()
                })
            ],
            view: new View({
                center: fromLonLat([-70.66, -33.46]),
                zoom: 5
            })
        });
    },
    watch: {
        coord: function (newVal, oldVal) {
            if (oldVal.length === 2) {
                map.removeLayer(layer);
            }
            let points = [this.createPoints(newVal)];
            layer = this.createVector(points);
            map.addLayer(layer);
        }
    }
}
</script>

<style scoped>
    #map {
        height: 445px;
        width: 80%;
    }
</style>
