// Place all the styles related to the Vehicle controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

h1 {
    text-decoration: underline;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
}

table {
    font-family: monospace;
    margin: 0 auto;
    font-size: 18px;
    border-spacing: 15px;
}

td {
    padding: 0 20px;
}

#information {
    padding-bottom: 30px;
    text-align: center;
    display: inline-block;
    width: 500px;
}

#dataTable {
    display: inline-block;
    width: 30%;
}

.app {
    margin-left: 5%;
    margin-right: 5%;
}

.waypoint {
    display:inline-block;
    color:#444;
    border:1px solid #CCC;
    background:#DDD;
    box-shadow: 0 0 5px -1px rgba(0,0,0,0.2);
    cursor:pointer;
    vertical-align:middle;
    width: 200px;
    height: 80px;
    padding: 5px;
    text-align: center;
    line-height: 26px;
}

#data {
    display: inline-block;
    width: 220px;
    text-align: center;
}

.btnBack {
    width: 125px;
    height: 30px;
    font-size: 18px;
    font-weight: bold;
    border-radius: 20px;
    background-color: slategray;
    box-shadow: 0 0 7px -1px rgba(53, 39, 39, 0.6);
    color: white;
}

.btnBack:hover,
.btnBack:focus {
    box-shadow: 0 0.5em 0.5em -0.4em var(--hover);
    transform: translateY(-0.25em);
    cursor: pointer;
}

.title {
    text-align: center;
}

.historicalMap {
    width: 80%;
    display: inline-block;
    vertical-align: top;
}

.vehiclesMap {
    width: 55%;
    display: inline-block;
    vertical-align: top;
}

.btnShow {
    display: inline-block;
    padding: 0.7em 1.7em;
    margin: 0 0.3em 0.3em 0;
    border-radius: 0.2em;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Roboto',sans-serif;
    font-weight: 400;
    background-color: #CCCCCC;
    color: #000000;
    font-weight: bold;
    border-radius: 20px;
}

.btnShow:hover,
.btnShow:focus {
    box-shadow: 0 0.5em 0.5em -0.4em var(--hover);
    cursor: pointer;
    background-color: rgb(119, 116, 116);
}