<!DOCTYPE html>
<html>
  <head>
    <title>TrackWaypointsVue</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <%= javascript_pack_tag 'vue_app' %>
    <link rel="stylesheet" href="https://openlayers.org/en/latest/css/ol.css" type="text/css">
  </head>

  <body>
    <%= yield %>
  </body>
</html>
